.container {
    margin: 0 auto;
    text-align: center;
}

.header {
    display: flex;
    text-align: center;
    justify-content: center;
}

.slogan {
    color: rgb(61, 112, 60);
    font-size: 25px;
    font-weight: bold;
    font-family: Yeseva+One;
    padding-top: 0;
    margin-top: none;
}