.container {
    margin: 0 auto;
    text-align: center;
}

.header {
    display: flex;
    text-align: center;
    justify-content: center;
}

.slogan {
    color: rgb(61, 112, 60);
    font-size: 25px;
    font-weight: bold;
    font-family: Yeseva+One;
    padding-top: 0;
    margin-top: 0;
    margin-bottom: 20px;
}

.search {
    background-color: #fff;
    text-align: left;
    width: 15%;
    margin: 0;
    padding: 12px;
}

.visually_hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px; 
}
.pageHeader {
    font-family: Droid Sans;
    color: rgb(194, 116, 166);
    font-size: 45px;
    padding-bottom: none;
}

.pageHeader :hover {
    color: rgb(94, 147, 94);
    transform: ease;
}

