html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, Yeseva One, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

header {
  font-family: Droid Sans;
  color: rgb(194, 116, 166);
  font-size: 60px;
  padding-bottom: none;
}

header :hover {
  color: rgb(94, 147, 94);
  transform: ease;
}

p {
  font-family: Yeseva One;
}
