html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, Yeseva One, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
  box-sizing: border-box;
}

h1 {
  margin: 0;
}

p {
  font-family: Yeseva One;
}

li {
  list-style: none;
  flex: 50%;
  margin-bottom: 2rem;
  gap: 5%;
  
}

ul {
  display: flex;
  flex-wrap: wrap;
  flex-direction:row;
  margin-right: 2rem;
  justify-content: center;
  align-items: center;
  position: relative;
  gap: 5rem;
}

@media only screen and (min-width: 1414px) {
  ul {
    margin-right: auto;
    margin-left: auto;
    max-width: 50%;
  }
}

img{
  /* width: 100%;
  height: auto;    */
  object-fit:cover;
  position:relative;
}

/* .plants{
  width: 100%;
  height:auto; 
  object-fit:cover;
  position:relative;
} */

